
@{
    ViewBag.Title = "AdminIndex";
}

@using Microsoft.AspNet.Identity
<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<ul class="nav nav-pills">
    <li id="home" role="presentation" class="active"><a href="#">Home</a></li>
    <li id="profile" role="presentation" class=""><a href="#">Profile</a></li>
    <li id="database" role="presentation" class=""><a href="#">Database</a></li>
    <li id="books" role="presentation" class=""><a href="#">Users</a></li>
    <li id="articles" role="presentation" class=""><a href="#">Articles</a></li>
</ul>
<hr />
<div id="personalSettings" class="">
    <h4>Zmień ustawienia konta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Hasło:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Zmień hasło", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Utwórz", "SetPassword")
            }
            ]
        </dd>
        <dt>Logowania zewnętrzne:</dt>
        <dd>
            @Model.Logins.Count [
            @Html.ActionLink("Zarządzaj", "ManageLogins") ]
        </dd>
        @*
            Numery telefonów mogą być używane jako drugi składnik w systemach uwierzytelniania dwuskładnikowego.

             Zobacz <a href="https://go.microsoft.com/fwlink/?LinkId=403804">ten artykuł</a>,
                        aby uzyskać szczegółowe informacje na temat konfigurowania tej aplikacji ASP.NET pod kątem obsługi uwierzytelniania dwuskładnikowego przy użyciu wiadomości SMS.

             Usuń komentarz z następującego bloku po skonfigurowaniu uwierzytelniania dwuskładnikowego
        *@
        @*
            <dt>Numer telefonu:</dt>
            <dd>
                @(Model.PhoneNumber ?? "None")
                @if (Model.PhoneNumber != null)
                {
                    <br />
                    <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                    using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>[<input type="submit" value="Usuń" class="btn-link" />]</text>
                    }
                }
                else
                {
                    <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")
                }
            </dd>
        *@
        <dt>Uwierzytelnianie dwuetapowe:</dt>
        <dd>
            <p>
                Nie skonfigurowano żadnych dostawców uwierzytelniania dwuskładnikowego. Zobacz <a href="https://go.microsoft.com/fwlink/?LinkId=403804">ten artykuł</a>,
                aby uzyskać szczegółowe informacje na temat konfigurowania tej aplikacji ASP.NET pod kątem obsługi uwierzytelniania dwuskładnikowego.
            </p>
            @*@if (Model.TwoFactor)
                {
                    using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>Włączone
                        <input type="submit" value="Wyłącz" class="btn btn-link" />
                        </text>
                    }
                }
                else
                {
                    using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>Wyłączone
                        <input type="submit" value="Włącz" class="btn btn-link" />
                        </text>
                    }
                }*@
        </dd>
    </dl>
</div>

<div id="personalContent" class="display-none">
    <h4>Edit Personal Data</h4>
    <hr />
    @{Html.RenderAction("ChangeUserData", "Manage");}
    <hr />
    <h4>Change Password</h4>
    <hr />
    @{Html.RenderAction("ChangePassword", "Manage");}
</div>

<div id="databaseContent" class="display-none">
    @{Html.RenderPartial("EmployeeDatabase", "Manage");}
    <h4>Change Global Parameters</h4>
    @{Html.RenderAction("ChangeGlobalParameters", "Manage");}
</div>

<div id="booksContent" class="display-none">
    @Html.ActionLink("Create Employee Account", "RegisterEmployee", "Account", null, new { @Class = "btn btn-default" })
    <div class="form-inline" style="margin-top: 6px;">
        <input id="inputUser" class="form-control" type="search" name="search" placeholder="Search User By Email" aria-label="Search">
        <button id="buttonSubmit" class="btn btn-primary" type="submit">
            <span id="iconSubmit" class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </button>
    </div>
    <div id="Message">

    </div>
    @{Html.RenderAction("UserRegistrationConfirmations", "Manage");}
</div>

<div id="articlesContent" class="display-none">
    @{Html.RenderAction("Index", "Information");}
</div>
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
                
            function deactiveAll() {
                $("#home").removeClass('active');
                $("#profile").removeClass('active');
                $("#books").removeClass('active');
                $("#database").removeClass('active');
                $("#articles").removeClass('active');
                $("#personalContent").addClass('display-none');
                $("#personalSettings").addClass('display-none');
                $("#booksContent").addClass('display-none');
                $("#databaseContent").addClass('display-none');
                $("#articlesContent").addClass('display-none');
            }

            function deactiveAllBooksContent() {
                $("#BorrowedBook").removeClass('active');
                $("#AwaitedBook").removeClass('active');
                $("#Archive").removeClass('active');
                $("#Queue").removeClass('active');
                $("#BorrowedBookContent").addClass('display-none');
                $("#AwaitedBookContent").addClass('display-none');
                $("#ArchiveContent").addClass('display-none');
                $("#QueueContent").addClass('display-none');
            }
            $("#home").click(function () {
                deactiveAll();
                $("#home").addClass('active');
                $("#personalSettings").removeClass('display-none');
            });
            $("#profile").click(function () {
                deactiveAll();
                $("#profile").addClass('active');
                $("#personalContent").removeClass('display-none');
            });
            $("#books").click(function () {
                deactiveAll();
                $("#books").addClass('active');
                $("#booksContent").removeClass('display-none');
            });
            $("#database").click(function () {
                deactiveAll();
                $("#database").addClass('active');
                $("#databaseContent").removeClass('display-none');
            });
            $("#articles").click(function () {
                deactiveAll();
                $("#articles").addClass('active');
                $("#articlesContent").removeClass('display-none');
            });
            //BooksContent
            $("#BorrowedBook").click(function () {
                deactiveAllBooksContent();
                $("#BorrowedBook").addClass('active');
                $("#BorrowedBookContent").removeClass('display-none');
            });
            $("#AwaitedBook").click(function () {
                deactiveAllBooksContent();
                $("#AwaitedBook").addClass('active');
                $("#AwaitedBookContent").removeClass('display-none');
            });
            $("#Archive").click(function () {
                deactiveAllBooksContent();
                $("#Archive").addClass('active');
                $("#ArchiveContent").removeClass('display-none');
            });
            $("#Queue").click(function () {
                deactiveAllBooksContent();
                $("#Queue").addClass('active');
                $("#QueueContent").removeClass('display-none');
            });
            //Search
            $("#buttonSubmit").click(function () {
                var str = $("#inputUser").val();
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("EmployeeSearchUser")",
                    data: {search: str},
                    success: function (response) {
                        $("#Message").html(response);
                    },
                });
            });
            
        });
    </script>
}

