@model IEnumerable<LibraryProject.Models.ApplicationUser>

@{
    Layout = null;
}

@using (Html.BeginForm("EmployeeSearchUser", "Manage", FormMethod.Get))
{
    <div class="form-inline" style="margin-top: 6px;">
        <input class="form-control" type="search" name="search" placeholder="Search User By Email" aria-label="Search">
        <button class="btn btn-primary" type="submit">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </button>
        @*<select class="form-control" name="selectedValue" aria-label="Default select example">
            <option value="title">Title</option>
            <option value="isbn">ISBN</option>
            <option value="author">Author</option>
        </select>*@
    </div>
}
@if (Model != null)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.ActionLink("Show User Page", "UserPage", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
}

