@model List<LibraryProject.Models.BorrowedBook>
@{
    ViewBag.Title = "BorrowedBookList";
    Layout = null;
}
@using Microsoft.AspNet.Identity
<h5>The book limit of both awaited and borrowed book is <b>@ViewData["booklimit"]</b></h5>
<h5>You can borrow <b>@ViewData["booksleft"]</b> books left</h5>
@if (Model.Count > 0)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].Book.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].CreationDate)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Book.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
            </tr>
        }

    </table>
}
else
{
    <h4>You haven't borrowed any book yet</h4>
}

