@model LibraryProject.Models.Book

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <div class="row d-flex">
        <div class="col-sm-3">
            <h3>
                @Html.DisplayNameFor(model => model.Title)
            </h3>
        </div>
        <div class="col-auto">
            <h3>
                @Html.DisplayFor(model => model.Title)
            </h3>
        </div>
    </div>
    <div class="row d-flex">
        <div class="col-sm-3">
            <h3>
                @Html.DisplayNameFor(model => model.Author)
            </h3>
        </div>
        <div class="col-auto">
            <h3>
                @Html.DisplayFor(model => model.Author)
            </h3>
        </div>
    </div>
    <div class="row d-flex" style="color:gray; font-style:italic">
        <div class="col-sm-3">
            <h4>
                @Html.DisplayNameFor(model => model.PublicationDate)
            </h4>
        </div>
        <div class="col-auto">
            <h4>
                @Model.PublicationDate.ToString("dd MMMM yyyy")
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h3>
                @Html.DisplayNameFor(model => model.Describtion)
            </h3>
        </div>
        <div class="col-auto">
            <p>
                faefaiefahef;as;efja'e
                feaijfoajejf'ajsefioijasoefjia[ejif[saej[fjesa
                fieofjseajfiosajeiofjasoefjiasejfi;asef
                efiesjfiajsejfiaefjiap;]]]
            </p>
        </div>
    </div>










    @Html.DisplayNameFor(model => model.Describtion)



    @Html.DisplayFor(model => model.Describtion)



    @Html.DisplayNameFor(model => model.ISPNNumber)



    @Html.DisplayFor(model => model.ISPNNumber)


    @Html.DisplayNameFor(model => model.Author)


    @Html.DisplayFor(model => model.Author)


    @Html.DisplayNameFor(model => model.CreationDate)



    @Html.DisplayFor(model => model.CreationDate)

</div>
<p>
    
    @Html.ActionLink("Back to List", "Index")
</p>
