@model IEnumerable<LibraryProject.Models.Book>

@{
    ViewBag.Title = "SearchBooks";
}

<h2>Oto następujące pozycje zgodne z twoimi kryteriami wyszukiwania: </h2>

<div id="Message">

</div>
@if (Model.Count() == 0)
{
    <h3 style="color:gray">Brak książek o podanym tytule w bazie danych</h3>
}
else
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Describtion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ISPNNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Describtion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ISPNNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
                <td>
                    @if (item.Quantity != 0)
                    {
                        @Ajax.ActionLink("Borrow", "AddToCart", new { id = item.Id },
                        new AjaxOptions
                        {
                            UpdateTargetId = "Message",
                            InsertionMode = InsertionMode.Replace,
                            HttpMethod = "GET" // <-- HTTP method
                        });
                        <a>|</a>
                    }
                    @Html.ActionLink("Details", "BookPage", new { id = item.Id })
                </td>
            </tr>
        }
    </table>
}
@section Scripts
{
    
}
